<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="d-flex justify-content-start">
        <input class="inputText" type="text" pInputText formControlName="text" placeholder="Search by Token..." />
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="d-flex justify-content-end">
        <button pTooltip="Create Order" (click)="showDialog()" class="btn btn-light p-btn"><i class="pi pi-plus-circle btn-icon"></i></button>
      </div>
    </div>
  </div>
</div>
<!-- 
<p-dialog header="Add Item" [(visible)]="visible" [style]="{width: '60vw'}">
    <form>
       <div class="row">
        <div class="col-sm-6 col-md-6">  
            <input type="text" placeholder="Enter item name.." pInputText formControlName="text"/>
        </div>
        <div class="col-sm-6 col-md-6">  
            <input type="text" pInputText formControlName="text"/>
        </div>
       </div>
       <div class="row">
        <div class="col-sm-6 col-md-6">  
            <input type="text" placeholder="Enter item name.." pInputText formControlName="text"/>
        </div>
       </div>
       
    </form>
</p-dialog> -->

<div class="container-fluid">
    
<p-table [value]="products" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="code" style="width:20%">ProductName <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="name" style="width:20%">ByGram <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="category" style="width:20%">Category <p-sortIcon field="category"></p-sortIcon></th>
            <th pSortableColumn="quantity" style="width:20%">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
            <th pSortableColumn="price" style="width:20%">Price <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="quantity" style="width:20%">status <p-sortIcon field="quantity"></p-sortIcon></th>
            <th pSortableColumn="price" style="width:20%">Edit<p-sortIcon field="price"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.ProductName}}</td>
            <td>{{product.ByGram}}</td>
            <td>{{product.category}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price | currency: 'USD'}}</td>
        </tr>
    </ng-template>
</p-table>
</div>
