<p-toast position="top-center" key="tc"></p-toast>
<div class="header">
  <div class="item_A">
    <input id="searchInput" [(ngModel)]="searchField" (input)="serarchByTokenAndMobile()" class="inputText" type="text" pInputText placeholder="Search by product..." />
  </div>
  <div class="item_B">
    <button id="cashOrderBtn" *ngIf="tmpProductList" (click)="addProduct()" class="btn btn-light p-btn"><i class="pi pi-plus-circle btn-icon"></i></button>
  </div>
</div>

<!-- <div class="table-container">
  <p-table [value]="tmpProductList" [tableStyle]="{ 'width':'87%', 'margin-left':'0.4rem','margin-right':'0.4rem' , 'margin-top':'0.4rem'}"  [scrollable]="true" scrollHeight="85vh" styleClass="sticky-table">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Sr.</th>
        <th scope="col">Image</th>
        <th scope="col">Item Name</th>
        <th scope="col">Food Category</th>
        <th scope="col">Description</th>
        <th scope="col">Jain</th>
        <th scope="col">Veg/Non-veg</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-i="rowIndex">
      <tr>
        <td>{{i+1}}</td>
        <td *ngIf="product.image===null"> <p-avatar label="{{product.itemName.charAt(0)}}" size="normal"></p-avatar></td>
        <td *ngIf="product.image !==null" style="width: 10rem"><img src="{{product.image}}" class="product_img" alt="A"></td>
        <td>{{product.itemName}}</td>
        <td>{{product.foodCategory}}</td>
        <td>{{product.description}}</td>
        <td>{{product.jain ? 'Yes' : 'No'}}</td>
        <td>{{product.vegNonVeg?'Yes':'No'}}</td>
        <td>{{product.amount}}</td>
        <td>
        <p-inputSwitch styleClass="custom-switch" [ngModel]="product.status" (onChange)="onSwitchChange(product)"></p-inputSwitch></td>
        <td><button  type="button" class="btn btn-primary" (click)="editProduct(product)"><i class="bi bi-pencil-square"></i></button></td>
        <td><button  type="button" class="btn btn-danger" (click)="deleteProduct(product)"><i class="bi bi-trash"></i></button></td>
      </tr>
    </ng-template>    
  </p-table>
</div> -->

<div *ngIf="!tmpProductList">
  <app-notfound></app-notfound>
</div>

<div class="" *ngIf="tmpProductList">
  <p-table
    [value]="tmpProductList"
    [tableStyle]="{ 'width':'99%', 'margin-left':'0.3rem','margin-right':'0.3rem'}"
    s
    [tableStyle]="{ 'width':'99%', 'margin-left':'0.3rem','margin-right':'0.3rem'}"
    [scrollable]="true"
    scrollHeight="85vh"
    styleClass="sticky-table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Sr.</th>
        <th scope="col">Image</th>
        <th scope="col">Item Name</th>
        <th scope="col">Food Category</th>
        <th scope="col">Description</th>
        <th scope="col">Jain</th>
        <th scope="col">Veg/Non-veg</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-i="rowIndex">
      <tr>
        <td>{{i+1}}</td>
        <td *ngIf="product.image===null"><p-avatar label="{{product.itemName.charAt(0)}}" size="normal"></p-avatar></td>
        <td *ngIf="product.image !==null" style="width: 10rem;"><img src="{{product.image}}" class="product_img" alt="A" /></td>
        <td>{{product.itemName}}</td>
        <td>{{product.foodCategory}}</td>
        <td>{{product.description}}</td>
        <td>{{product.jain ? 'Yes' : 'No'}}</td>
        <td>{{product.vegNonVeg?'Yes':'No'}}</td>
        <td>₹{{product.amount}}</td>
        <td>
          <p-inputSwitch styleClass="custom-switch" [ngModel]="product.status" (onChange)="onSwitchChange(product)"></p-inputSwitch>
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="editProduct(product)"><i class="bi bi-pencil-square"></i></button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteProduct(product)"><i class="bi bi-trash"></i></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="{{dialogTitel}}" [(visible)]="visible" [style]="{width: '50vw'}">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form_grid">
      <div class="form_item_titel">
        <p class="form_label">Product Name:</p>
      </div>
      <div class="form_item_content">
        <input type="text" pInputText placeholder="Enter product name..." formControlName="itemName" />
        <div *ngIf="formGroup.controls['itemName'].invalid && formGroup.controls['itemName'].touched" class="error-message">
          <span class="errorMeg" *ngIf="formGroup.controls['itemName'].errors?.['required']" style="color: brown;">Note:Item name is required.</span>
          <span class="errorMeg" *ngIf="formGroup.controls['itemName'].errors?.['pattern']" style="color: brown;"
            >Note:Item Name can only contain letters, numbers, and the symbols: ()_&*."&#64;"</span
          >
        </div>
      </div>
    </div>

    <div class="form_grid">
      <div class="form_item_titel">
        <p class="form_label">FoodCategory:</p>
      </div>
      <div class="form_item_content">
        <p-dropdown class="inputbox" formControlName="foodCategory" [options]="foodTypes" optionLabel="label" styleClass="inputbox" placeholder="Select a TableType.." />
        <!-- <input type="text" pInputText placeholder="Enter product name..." formControlName="itemName" /> -->
        <div *ngIf="formGroup.controls['foodCategory'].invalid && formGroup.controls['foodCategory'].touched" class="error-message">
          <span class="errorMeg" *ngIf="formGroup.controls['foodCategory'].errors?.['required']" style="color: brown;">Note:Item name is required.</span>
          <!-- <span class="errorMeg"  *ngIf="formGroup.controls['foodCategory'].errors?.['pattern']" style="color: brown;">Note:Item Name can only contain letters, numbers, and the symbols: ()_&*."&#64;"</span> -->
        </div>
      </div>
    </div>

    <div class="form_grid">
      <div class="form_item_titel">
        <p class="form_label">Description:</p>
      </div>
      <div class="form_item_content">
        <textarea rows="2" cols="40" placeholder="Enter product description..." pInputTextarea formControlName="description"></textarea>
        <div *ngIf="formGroup.controls['description'].invalid && formGroup.controls['description'].touched" class="error-message">
          <span class="errorMeg" *ngIf="formGroup.controls['description'].errors?.['required']" style="color: brown;">Note:quantity is required</span>
          <span class="errorMeg" *ngIf="formGroup.controls['description'].errors?.['pattern']" style="color: brown;">Note:only contain letters, numbers, and the symbols: ()_&*."&#64;"</span>
        </div>
      </div>
    </div>
    <div class="form_grid">
      <div class="form_item_titel">
        <p class="form_label">Amount:</p>
      </div>
      <div class="form_item_content">
        <input type="text" pInputText placeholder="Enter Amount..." formControlName="amount" />
        <div *ngIf="formGroup.controls['amount'].invalid && formGroup.controls['amount'].touched" class="error-message">
          <span class="errorMeg" *ngIf="formGroup.controls['amount'].errors?.['required']" style="color: brown;">Note:Amount is required.</span>
          <span class="errorMeg" *ngIf="formGroup.controls['amount'].errors?.['pattern']" style="color: brown;">Note:Amount must be a number and may contain a single decimal point.</span>
        </div>
      </div>
    </div>
    <div class="form_grid">
      <div class="form_item_titel">
        <p class="form_label">Gram:</p>
      </div>
      <div class="form_item_content">
        <input type="text" pInputText placeholder="Enter gramOrMl..." formControlName="gram" />
        <div *ngIf="formGroup.controls['gram'].invalid && formGroup.controls['gram'].touched" class="error-message">
          <span class="errorMeg" *ngIf="formGroup.controls['gram'].errors?.['pattern']" style="color: brown;">Note:Gram must be a number and may contain a single decimal point.</span>
          <span class="errorMeg" class="errorMeg" *ngIf="formGroup.controls['gram'].errors?.['required']" style="color: brown;">Note:Gram is required Set Default 0.</span>
        </div>
      </div>
    </div>
    <div class="form_grid">
      <div class="form_item_titel">
        <p class="form_label">Quantity:</p>
      </div>
      <div class="form_item_content">
        <input type="text" pInputText placeholder="Enter quantity..." formControlName="quantity" />
        <div *ngIf="formGroup.controls['quantity'].invalid && formGroup.controls['quantity'].touched" class="error-message">
          <span class="errorMeg" *ngIf="formGroup.controls['quantity'].errors?.['required']" style="color: brown;">Note:quantity is required</span>
          <span class="errorMeg" *ngIf="formGroup.controls['quantity'].errors?.['pattern']" style="color: brown;">Note:Only Digit Allowed.</span>
        </div>
      </div>
    </div>
    <div class="form_grid">
      <div class="form_item_titel">
        <p class="form_label">Jain:</p>
      </div>
      <div class="form_item_content">
        <p-inputSwitch class="isJain" formControlName="jain"></p-inputSwitch>
      </div>
    </div>

    <div class="form_grid">
      <div class="form_item_titel">
        <p class="form_label">Veg/Non-Veg:</p>
      </div>
      <div class="form_item_content">
        <p-inputSwitch class="isVegNoVeg" formControlName="vegNonVeg"></p-inputSwitch>
      </div>
    </div>
    <div class="form_grid">
      <div class="form_item_titel">
        <p class="form_label">Offer:</p>
      </div>
      <div class="form_item_content">
        <!-- <input type="text" pInputText placeholder="Enter Offer id..." formControlName="Offer" /> -->
        <p-dropdown class="inputbox" formControlName="Offer" [options]="offerList" optionLabel="offerName" styleClass="inputbox" placeholder="Select a TableType.." />

        <!-- <div *ngIf="formGroup.controls['Offer'].invalid && formGroup.controls['Offer'].touched" class="error-message">
          <span class="errorMeg" *ngIf="formGroup.controls['Offer'].errors?.['required']" style="color: brown;">Note:quantity is required</span>
          <span class="errorMeg" *ngIf="formGroup.controls['Offer'].errors?.['pattern']" style="color: brown;">Note:Only Digit Allowed.</span>
        </div> -->
      </div>
    </div>
    <div class="form_grid">
      <div class="form_item_titel">
        <p class="form_label">Upload Image:</p>
      </div>
      <div class="form_item_content custom-file-upload">
        <input id="fileUpload" type="file" (change)="onUpload($event)" class="custom-file-upload" name="file" accept="image/*" />
        <img *ngIf="dialogTitel == 'Add Product'" [src]="imageBase64" style="height: 6rem; width: 5rem; border-radius: 5px;" alt="A" />
        <img *ngIf="dialogTitel == 'Edit Product'" [(src)]="tmpImg" style="height: 6rem; width: 5rem; border-radius: 5px;" alt="A" />
      </div>
    </div>
    <div class="form_grid form_btn">
      <button [disabled]="!formGroup.valid" id="cashOrderBtn" type="submit" class="btn btn-light p-btn"><i class="pi pi-plus-circle btn-icon"></i></button>
    </div>
  </form>
</p-dialog>
