.header {
    display: flex;
    margin: 1rem 1rem 1rem 1rem;
}


.item_A {
    flex: 1;
    text-align: start;
}

.item_B {
    flex: 1;
    text-align: end;
}

:host {
    .p-dialog-title {
        font-weight: 500;
        font-size: medium;
    }
}

#cashOrderBtn {
    color: red;
    width: 10vw;
    border-radius: 20px;
}
th{
    padding: .5rem;
}
td{
    padding: .5rem;
}
#searchInput {

    width: 60%;
    border: 0;
    border-radius: 20px;
    background-image: url(../../../assets/search.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: medium;
}



/* #fileUpload{
    border: none;
    color: blue;
} */

input[type="file"] label{
    background-color: green;
}
.form_grid {
    display: flex;
    margin: .5rem;
}

.form_item_titel {
    flex: 1;
    place-self: center;
    font-weight: 500;
    font-size: small;
}

.form_item_content {
    flex: 3;
    font-weight: 500;
    font-size: small;
}

.form_label {
    margin: 0;
}

.form_btn {
    justify-content: center;
    padding: .5rem;
}

.product_img{
    width: 50%;
    height: 20%;
    border-radius: 5px;
}

.sticky-table .p-datatable-thead > tr > th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.errorMeg{
    font-size: small;
    font-weight: 500;
    margin-bottom: .1rem;
}