.header {
    display: flex;
    margin: 1rem 1rem 1rem 1rem;
}


.item_A {
    flex: 1;
    text-align: start;
    padding: .1rem;
}

.item_B {
    flex: 1;
    padding: .1rem;
    text-align: end;
}


    .p-dialog-title {
        font-weight: 500;
        font-size: medium;
    }





#cashOrderBtn {
    width: 8vw;
    border-radius: 20px;
    color: white;
    background: black;
    text-align: center;
}

#cashOrderBtn:hover {
    background: white;
    color: black;
    border: 1px solid black;
}

th {
    padding: 5px;
    text-align: center;
    align-content: center;
    font-size: medium;
    font-weight: 500;
}

td {
    padding: 5px;
    text-align: center;
    align-content: center;
    font-size: medium;
    font-weight: 400;
}

.table-container {
    position: fixed;
    width: 100%;
    background-color: white;
}

#searchInput {

    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    background-image: url(../../../assets/search.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: medium;
}

.btn-primary {
    background-color: black;
    color: white;
    border-color: black;
    /* border: none; */
    border: 2px solid black;

}

.btn-primary:hover {
    background-color: white;
    color: black;
    /* border: 1px solid black; */
}
 
.btn-danger {
    background-color: black;
    color: white;
    border-color: black;
    border: 2px solid black;

    /* border: none; */
}

.btn-danger:hover {
    background-color: white;
    color: black;
    /* border: 2px solid black; */
}  

input[type="file"] label {
    background-color: green;
}

.form_grid {
    display: flex;
    margin: .5rem;
}

.form_item_titel {
    flex: 1;
    place-self: center;
    font-weight: 500;
    font-size: small;
}

.form_item_content {
    flex: 3;
    font-weight: 500;
    font-size: small;
}

.form_label {
    margin: 0;
}

.form_btn {
    justify-content: center;
    padding: .5rem;
}

.product_img {
    width: 50%;
    height: 20%;
    border-radius: 5px;
}

.sticky-table .p-datatable-thead>tr>th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.errorMeg {
    font-size: small;
    font-weight: 500;
    margin-bottom: .1rem;
}

/* .custom-file-upload {
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
  } */
  
  .custom-file-upload::file-selector-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
  }
  