
<p-toast></p-toast>
<div class="header">
  <div class="header_item_1">
    <input id="searchInput" [(ngModel)]="searchField" (input)="serarchByTokenAndMobile()"  type="text" pInputText  placeholder="Search by Token..." />
  </div>
  <div class="header_item_2">
    <!-- <button id="cashOrderBtn" pTooltip="Create Order" class="btn btn-light p-btn"><i class="pi pi-plus-circle btn-icon"></i></button> -->
  </div>
</div>

<div *ngIf="!tmpOrderList">
  <app-notfound></app-notfound>
</div>

<div class="cardGrid scroll" *ngIf="tmpOrderList">
  <!-- [style]="{'width':'50%'}" -->
  <p-card *ngFor="let item of tmpOrderList" styleClass="background:white" >
    <div class="titel"><p class="card_titel"> {{item.token_no}}</p></div>
    <div class="order_detail">
      <p class="card_bill_detail">OrderID: {{item.orderId|  slice:0:7}}</p>
      <p class="card_bill_detail">Status: {{item.orderStatus}}</p>
    </div>
    <div class="order_detail">
      <!-- <p class="card_bill_detail">Name:Viral</p> -->
      <p class="card_bill_detail" *ngIf="item.payment_mode !== 'CASH'">Txn ID:{{item.txid}}</p>
    </div>
    <div class="order_detail">
      <p class="card_bill_detail">Date: {{item.orderAt | date:'dd-MMM-yyyy hh:mm:a' }}</p>
      <p class="card_bill_detail">Mobile: {{item.customerMobileNo}}</p>
    </div>
    <!-- <div class="order_detail">
      <p class="card_bill_detail">Payment Mode: {{item.payment_mode}}</p>
    </div> -->
    <p-table [value]="item.orderDetails" [scrollable]="true" scrollHeight="7rem" [style]="{ 'min-height': '7rem', 'max-height': '7rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" class="table_heading">Sr No.</th>
          <th scope="col" class="table_heading">Item</th>
          <th scope="col" class="table_heading">Qty</th>
          <th scope="col" class="table_heading">Amount</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-index="rowIndex">
        <tr>
          <td class="table_content">{{index+1}}</td>
          <td class="table_content">{{product.itemName}}</td>
          <td class="table_content">{{product.quntity}}</td>
          <td class="table_content tAmountitem1">{{product.amount}}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="content">
      <div class="row">
        <p-divider class="divider"></p-divider>
        <div class="order_detail">
          <p class="tAmountitem2 card_titel" style="margin: .1rem;">Amount:</p>
          <p class="tAmountitem2 tAmountitem1" style="margin: .1rem;">{{item?.billingDtos?.amount |number:'1.2-2'}}</p>
        </div>
        <!-- <p-divider class="divider"></p-divider> -->
         <div class="order_detail"  *ngIf="item?.billingDtos?.gst > 0">
          <p class="card_titel " style="margin: 0.1rem;">GST:</p>
          <p class="tAmountitem1 tAmountitem2" style="margin: 0.1rem;">{{ item?.billingDtos?.gst |number:'1.2-2'}}</p>
        </div>
          <div class="order_detail"  *ngIf="item?.billingDtos?.sgst > 0">
          <p class="card_titel " style="margin: 0.1rem;">GST:</p>
          <p class="tAmountitem1 tAmountitem2" style="margin: 0.1rem;">{{ item?.billingDtos?.sgst |number:'1.2-2'}}</p>
        </div>
           <div class="order_detail"  *ngIf="item?.billingDtos?.restaurantsCharge > 0">
          <p class="card_titel " style="margin: 0.1rem;">Restro Charge:</p>
          <p class="tAmountitem1 tAmountitem2" style="margin: 0.1rem;">{{ item?.billingDtos?.resturentCharge |number:'1.2-2'}}</p>
        </div>
        <div class="total_amount">
          <p class="card_titel " style="margin: 0.1rem;">Total Amount:</p>
          <p class="tAmountitem1 tAmountitem2" style="margin: 0.1rem;">{{ item?.billingDtos?.totalAmount |number:'1.2-2'}}</p>
        </div>
      
        <!-- <div class="order_detail">
          <p class="card_bill_detail "><button (click)="MarkAsCompleted(item)" class="acept_btn">Mark As Completed</button></p>
          <p class="card_bill_detail "><button (click)="generateInvoice(item)" class="cancel_btn">Invoice</button></p>
        </div> -->
      </div>
    </ng-template>
  </p-card>
</div>
