<!-- 

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="d-flex justify-content-start">
        <input class="inputText" type="text" pInputText placeholder="Search by Token..." />
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="d-flex justify-content-end">
        <button pTooltip="Create Order" class="btn btn-light p-btn"><i class="pi pi-plus-circle btn-icon"></i></button>
      </div>
    </div>
  </div>
</div> -->
<p-toast></p-toast>
<div class="header">
  <div class="header_item_1">
    <input id="searchInput" [(ngModel)]="searchField" (input)="serarchByTokenAndMobile()" class="inputText" type="text" pInputText  placeholder="Search by Token..." />
  </div>
  <div class="header_item_2">
    <!-- <button id="cashOrderBtn" pTooltip="Create Order" class="btn btn-light p-btn"><i class="pi pi-plus-circle btn-icon"></i></button> -->
  </div>
</div>

<div class="cardGrid scroll" >
  <p-card *ngFor="let item of tmpcashOrderList">
    <div class="titel"><p class="card_titel"> {{item.token_no}}</p></div>
    <div class="order_detail">
      <p class="card_bill_detail">OrderID:{{item.orderId|  slice:0:7}}</p>
      <p class="card_bill_detail">Status: {{item.orderStatus}}</p>
    </div>
    <div class="order_detail">
      <!-- <p class="card_bill_detail">Name:Viral</p> -->
      <p class="card_bill_detail" *ngIf="item.payment_mode !== 'CASH'">Txn ID:{{item.txid}}</p>
    </div>
    <div class="order_detail">
      <p class="card_bill_detail">Date: {{item.orderAt | date:'dd-MMM-yyyy HH:mm:a' }}</p>
      <p class="card_bill_detail">Mobile: {{item.customerMobileNo}}</p>
    </div>
    <div class="order_detail">
      <p class="card_bill_detail">Payment Mode: {{item.payment_mode}}</p>
    </div>
    <p-table [value]="item.orderDetails" [scrollable]="true" scrollHeight="6rem" [style]="{ 'min-height': '5rem', 'max-height': '5rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" class="table_row">No.</th>
          <th scope="col" class="table_row">Item</th>
          <th scope="col" class="table_row">Qty</th>
          <th scope="col" class="table_row">Amount</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td class="table_row">1</td>
          <td class="table_row">{{product.itemName}}</td>
          <td class="table_row">{{product.quntity}}</td>
          <td class="table_row tAmountitem1">{{product.amount}}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="content">
      <div class="row">
        <p-divider class="divider"></p-divider>
        <div class="order_detail">
          <p class="tAmountitem2 card_titel" style="margin: .1rem;">Total Amount:</p>
          <p class="tAmountitem2 tAmountitem1" style="margin: .1rem;">{{item.totelAmount |number:'1.2-2'}}</p>
        </div>
        <p-divider class="divider"></p-divider>
        <div class="order_detail" *ngIf="item.orderStatus ==='WAIT_FOR_APPROVE'">
          <p class="card_bill_detail "><button class="acept_btn" (click)="OrderApprove('Approved' ,item)">Accept</button></p>
          <p class="card_bill_detail "><button class="cancel_btn" (click)="OrderApprove('NotApproved', item)">Reject</button></p>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
