

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="d-flex justify-content-start">
        <input class="inputText" type="text" pInputText formControlName="text" placeholder="Search by Token..." />
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="d-flex justify-content-end">
        <button pTooltip="Create Order" class="btn btn-light p-btn"><i class="pi pi-plus-circle btn-icon"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" >
  <h6 style="margin-left: .5rem;font-weight: 600; font-size: 1rem; ">Approve Cash Order:</h6>
<div class="row" >    
<!-- <p-panel header="Approve Cash Order"  [toggleable]="true" > -->
 <div style="display: flex; flex-wrap: wrap; height: 75vh; overflow-y: scroll;" > 
  <div class="col-sm-4 col-md-4 " style="padding: .2rem;">
    <p-card header="Token:12345678" >
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">OrderID: 78978</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Payment Mode: Cash</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">Name: viral</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Txn ID: 00000000000</p>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-start">
          <p class="token_content">Date: 10:60:24 13:32:09</p>
        </div>
      </div>
      <!-- <p style="padding: .5rem;"></p> -->
      <p-table [value]="order">
        <ng-template pTemplate="header">
          <tr>
            <th class="table_row">No.</th>
            <th class="table_row">Item</th>
            <th class="table_row">Qty</th>
            <th class="table_row">Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td class="table_row" >{{product.id}}</td>
            <td class="table_row">{{product.Name}}</td>
            <td class="table_row">{{product.Qty}}</td>
            <td class="table_row">{{product.Amount}}</td>
          </tr>
        </ng-template>        
      </p-table>

     

      <ng-template pTemplate="content">
        <div class="row">
          <p-divider class="divider"></p-divider>
          <div class="col-sm-12 col-md-12 d-flex justify-content-end">
           <p style="padding-right: .6rem;" class="total_amount">Total Amount : 289.00</p>
          </div>
          <p-divider class="divider"></p-divider>
        </div>
      </ng-template>
      
      <ng-template pTemplate="footer">
        <div class="row">
          <div class="col-sm-6 col-md-6 d-flex justify-content-start">
            <p-button label="Accept" class="confrom_btn" ></p-button>
          </div>
          <div class="col-sm-6 col-md-6 d-flex justify-content-end">
            <p-button label="Reject" class="cancel_btn" severity="danger"></p-button>
          </div>
        </div>
      </ng-template>
     
      
    </p-card>
  </div>
  <div class="col-sm-4 col-md-4 " style="padding: .2rem;">
    <p-card header="Token:12345678" >
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">OrderID: 78978</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Payment Mode: Cash</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">Name: viral</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Txn ID: 00000000000</p>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-start">
          <p class="token_content">Date: 10:60:24 13:32:09</p>
        </div>
      </div>
      <!-- <p style="padding: .5rem;"></p> -->
      <p-table [value]="order">
        <ng-template pTemplate="header">
          <tr>
            <th class="table_row">No.</th>
            <th class="table_row">Item</th>
            <th class="table_row">Qty</th>
            <th class="table_row">Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td class="table_row" >{{product.id}}</td>
            <td class="table_row">{{product.Name}}</td>
            <td class="table_row">{{product.Qty}}</td>
            <td class="table_row">{{product.Amount}}</td>
          </tr>
        </ng-template>        
      </p-table>

     

      <ng-template pTemplate="content">
        <div class="row">
          <p-divider class="divider"></p-divider>
          <div class="col-sm-12 col-md-12 d-flex justify-content-end">
           <p style="padding-right: .6rem;" class="total_amount">Total Amount : 289.00</p>
          </div>
          <p-divider class="divider"></p-divider>
        </div>
      </ng-template>
      
      <ng-template pTemplate="footer">
        <div class="row">
          <div class="col-sm-6 col-md-6 d-flex justify-content-start">
            <p-button label="Accept" class="confrom_btn" ></p-button>
          </div>
          <div class="col-sm-6 col-md-6 d-flex justify-content-end">
            <p-button label="Reject" class="cancel_btn" severity="danger"></p-button>
          </div>
        </div>
      </ng-template>
     
      
    </p-card>
  </div>
  <div class="col-sm-4 col-md-4 " style="padding: .2rem;">
    <p-card header="Token:12345678" >
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">OrderID: 78978</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Payment Mode: Cash</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">Name: viral</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Txn ID: 00000000000</p>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-start">
          <p class="token_content">Date: 10:60:24 13:32:09</p>
        </div>
      </div>
      <!-- <p style="padding: .5rem;"></p> -->
      <p-table [value]="order">
        <ng-template pTemplate="header">
          <tr>
            <th class="table_row">No.</th>
            <th class="table_row">Item</th>
            <th class="table_row">Qty</th>
            <th class="table_row">Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td class="table_row" >{{product.id}}</td>
            <td class="table_row">{{product.Name}}</td>
            <td class="table_row">{{product.Qty}}</td>
            <td class="table_row">{{product.Amount}}</td>
          </tr>
        </ng-template>        
      </p-table>

     

      <ng-template pTemplate="content">
        <div class="row">
          <p-divider class="divider"></p-divider>
          <div class="col-sm-12 col-md-12 d-flex justify-content-end">
           <p style="padding-right: .6rem;" class="total_amount">Total Amount : 289.00</p>
          </div>
          <p-divider class="divider"></p-divider>
        </div>
      </ng-template>
      
      <ng-template pTemplate="footer">
        <div class="row">
          <div class="col-sm-6 col-md-6 d-flex justify-content-start">
            <p-button label="Accept" class="confrom_btn" ></p-button>
          </div>
          <div class="col-sm-6 col-md-6 d-flex justify-content-end">
            <p-button label="Reject" class="cancel_btn" severity="danger"></p-button>
          </div>
        </div>
      </ng-template>
     
      
    </p-card>
  </div>
  <div class="col-sm-4 col-md-4 " style="padding: .2rem;">
    <p-card header="Token:12345678" >
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">OrderID: 78978</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Payment Mode: Cash</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">Name: viral</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Txn ID: 00000000000</p>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-start">
          <p class="token_content">Date: 10:60:24 13:32:09</p>
        </div>
      </div>
      <!-- <p style="padding: .5rem;"></p> -->
      <p-table [value]="order">
        <ng-template pTemplate="header">
          <tr>
            <th class="table_row">No.</th>
            <th class="table_row">Item</th>
            <th class="table_row">Qty</th>
            <th class="table_row">Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td class="table_row" >{{product.id}}</td>
            <td class="table_row">{{product.Name}}</td>
            <td class="table_row">{{product.Qty}}</td>
            <td class="table_row">{{product.Amount}}</td>
          </tr>
        </ng-template>        
      </p-table>

     

      <ng-template pTemplate="content">
        <div class="row">
          <p-divider class="divider"></p-divider>
          <div class="col-sm-12 col-md-12 d-flex justify-content-end">
           <p style="padding-right: .6rem;" class="total_amount">Total Amount : 289.00</p>
          </div>
          <p-divider class="divider"></p-divider>
        </div>
      </ng-template>
      
      <ng-template pTemplate="footer">
        <div class="row">
          <div class="col-sm-6 col-md-6 d-flex justify-content-start">
            <p-button label="Accept" class="confrom_btn" ></p-button>
          </div>
          <div class="col-sm-6 col-md-6 d-flex justify-content-end">
            <p-button label="Reject" class="cancel_btn" severity="danger"></p-button>
          </div>
        </div>
      </ng-template>
     
      
    </p-card>
  </div>
  <div class="col-sm-4 col-md-4 " style="padding: .2rem;">
    <p-card header="Token:12345678" >
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">OrderID: 78978</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Payment Mode: Cash</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">Name: viral</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Txn ID: 00000000000</p>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-start">
          <p class="token_content">Date: 10:60:24 13:32:09</p>
        </div>
      </div>
      <!-- <p style="padding: .5rem;"></p> -->
      <p-table [value]="order">
        <ng-template pTemplate="header">
          <tr>
            <th class="table_row">No.</th>
            <th class="table_row">Item</th>
            <th class="table_row">Qty</th>
            <th class="table_row">Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td class="table_row" >{{product.id}}</td>
            <td class="table_row">{{product.Name}}</td>
            <td class="table_row">{{product.Qty}}</td>
            <td class="table_row">{{product.Amount}}</td>
          </tr>
        </ng-template>        
      </p-table>

     

      <ng-template pTemplate="content">
        <div class="row">
          <p-divider class="divider"></p-divider>
          <div class="col-sm-12 col-md-12 d-flex justify-content-end">
           <p style="padding-right: .6rem;" class="total_amount">Total Amount : 289.00</p>
          </div>
          <p-divider class="divider"></p-divider>
        </div>
      </ng-template>
      
      <ng-template pTemplate="footer">
        <div class="row">
          <div class="col-sm-6 col-md-6 d-flex justify-content-start">
            <p-button label="Accept" class="confrom_btn" ></p-button>
          </div>
          <div class="col-sm-6 col-md-6 d-flex justify-content-end">
            <p-button label="Reject" class="cancel_btn" severity="danger"></p-button>
          </div>
        </div>
      </ng-template>
     
      
    </p-card>
  </div>

  <div class="col-sm-4 col-md-4 " style="padding: .2rem;">
    <p-card header="Token:12345678" >
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">OrderID: 78978</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Payment Mode: Cash</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">Name: viral</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Txn ID: 00000000000</p>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-start">
          <p class="token_content">Date: 10:60:24 13:32:09</p>
        </div>
      </div>
      <!-- <p style="padding: .5rem;"></p> -->
      <p-table [value]="order">
        <ng-template pTemplate="header">
          <tr>
            <th class="table_row">No.</th>
            <th class="table_row">Item</th>
            <th class="table_row">Qty</th>
            <th class="table_row">Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td class="table_row" >{{product.id}}</td>
            <td class="table_row">{{product.Name}}</td>
            <td class="table_row">{{product.Qty}}</td>
            <td class="table_row">{{product.Amount}}</td>
          </tr>
        </ng-template>        
      </p-table>

     

      <ng-template pTemplate="content">
        <div class="row">
          <p-divider class="divider"></p-divider>
          <div class="col-sm-12 col-md-12 d-flex justify-content-end">
           <p style="padding-right: .6rem;" class="total_amount">Total Amount : 289.00</p>
          </div>
          <p-divider class="divider"></p-divider>
        </div>
      </ng-template>
      
      <ng-template pTemplate="footer">
        <div class="row">
          <div class="col-sm-6 col-md-6 d-flex justify-content-start">
            <p-button label="Accept" class="confrom_btn" ></p-button>
          </div>
          <div class="col-sm-6 col-md-6 d-flex justify-content-end">
            <p-button label="Reject" class="cancel_btn" severity="danger"></p-button>
          </div>
        </div>
      </ng-template>
     
      
    </p-card>
  </div>
  <div class="col-sm-4 col-md-4 " style="padding: .2rem;">
    <p-card header="Token:12345678" >
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">OrderID: 78978</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Payment Mode: Cash</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">Name: viral</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Txn ID: 00000000000</p>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-start">
          <p class="token_content">Date: 10:60:24 13:32:09</p>
        </div>
      </div>
      <!-- <p style="padding: .5rem;"></p> -->
      <p-table [value]="order">
        <ng-template pTemplate="header">
          <tr>
            <th class="table_row">No.</th>
            <th class="table_row">Item</th>
            <th class="table_row">Qty</th>
            <th class="table_row">Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td class="table_row" >{{product.id}}</td>
            <td class="table_row">{{product.Name}}</td>
            <td class="table_row">{{product.Qty}}</td>
            <td class="table_row">{{product.Amount}}</td>
          </tr>
        </ng-template>        
      </p-table>

     

      <ng-template pTemplate="content">
        <div class="row">
          <p-divider class="divider"></p-divider>
          <div class="col-sm-12 col-md-12 d-flex justify-content-end">
           <p style="padding-right: .6rem;" class="total_amount">Total Amount : 289.00</p>
          </div>
          <p-divider class="divider"></p-divider>
        </div>
      </ng-template>
      
      <ng-template pTemplate="footer">
        <div class="row">
          <div class="col-sm-6 col-md-6 d-flex justify-content-start">
            <p-button label="Accept" class="confrom_btn" ></p-button>
          </div>
          <div class="col-sm-6 col-md-6 d-flex justify-content-end">
            <p-button label="Reject" class="cancel_btn" severity="danger"></p-button>
          </div>
        </div>
      </ng-template>
     
      
    </p-card>
  </div>
  <div class="col-sm-4 col-md-4 " style="padding: .2rem;">
    <p-card header="Token:12345678" >
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">OrderID: 78978</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Payment Mode: Cash</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">Name: viral</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Txn ID: 00000000000</p>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-start">
          <p class="token_content">Date: 10:60:24 13:32:09</p>
        </div>
      </div>
      <!-- <p style="padding: .5rem;"></p> -->
      <p-table [value]="order">
        <ng-template pTemplate="header">
          <tr>
            <th class="table_row">No.</th>
            <th class="table_row">Item</th>
            <th class="table_row">Qty</th>
            <th class="table_row">Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td class="table_row" >{{product.id}}</td>
            <td class="table_row">{{product.Name}}</td>
            <td class="table_row">{{product.Qty}}</td>
            <td class="table_row">{{product.Amount}}</td>
          </tr>
        </ng-template>        
      </p-table>

     

      <ng-template pTemplate="content">
        <div class="row">
          <p-divider class="divider"></p-divider>
          <div class="col-sm-12 col-md-12 d-flex justify-content-end">
           <p style="padding-right: .6rem;" class="total_amount">Total Amount : 289.00</p>
          </div>
          <p-divider class="divider"></p-divider>
        </div>
      </ng-template>
      
      <ng-template pTemplate="footer">
        <div class="row">
          <div class="col-sm-6 col-md-6 d-flex justify-content-start">
            <p-button label="Accept" class="confrom_btn" ></p-button>
          </div>
          <div class="col-sm-6 col-md-6 d-flex justify-content-end">
            <p-button label="Reject" class="cancel_btn" severity="danger"></p-button>
          </div>
        </div>
      </ng-template>
     
      
    </p-card>
  </div>
  <div class="col-sm-4 col-md-4 " style="padding: .2rem;">
    <p-card header="Token:12345678" >
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">OrderID: 78978</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Payment Mode: Cash</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">Name: viral</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Txn ID: 00000000000</p>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-start">
          <p class="token_content">Date: 10:60:24 13:32:09</p>
        </div>
      </div>
      <!-- <p style="padding: .5rem;"></p> -->
      <p-table [value]="order">
        <ng-template pTemplate="header">
          <tr>
            <th class="table_row">No.</th>
            <th class="table_row">Item</th>
            <th class="table_row">Qty</th>
            <th class="table_row">Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td class="table_row" >{{product.id}}</td>
            <td class="table_row">{{product.Name}}</td>
            <td class="table_row">{{product.Qty}}</td>
            <td class="table_row">{{product.Amount}}</td>
          </tr>
        </ng-template>        
      </p-table>

     

      <ng-template pTemplate="content">
        <div class="row">
          <p-divider class="divider"></p-divider>
          <div class="col-sm-12 col-md-12 d-flex justify-content-end">
           <p style="padding-right: .6rem;" class="total_amount">Total Amount : 289.00</p>
          </div>
          <p-divider class="divider"></p-divider>
        </div>
      </ng-template>
      
      <ng-template pTemplate="footer">
        <div class="row">
          <div class="col-sm-6 col-md-6 d-flex justify-content-start">
            <p-button label="Accept" class="confrom_btn" ></p-button>
          </div>
          <div class="col-sm-6 col-md-6 d-flex justify-content-end">
            <p-button label="Reject" class="cancel_btn" severity="danger"></p-button>
          </div>
        </div>
      </ng-template>
     
      
    </p-card>
  </div>
  <div class="col-sm-4 col-md-4 " style="padding: .2rem;">
    <p-card header="Token:12345678" >
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">OrderID: 78978</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Payment Mode: Cash</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 d-flex justify-content-start">
          <p class="token_content">Name: viral</p>
        </div>
        <div class="col-sm-6 col-md-6 d-flex justify-content-center">
          <p class="token_content_right">Txn ID: 00000000000</p>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-12 col-md-12 d-flex justify-content-start">
          <p class="token_content">Date: 10:60:24 13:32:09</p>
        </div>
      </div>
      <!-- <p style="padding: .5rem;"></p> -->
      <p-table [value]="order">
        <ng-template pTemplate="header">
          <tr>
            <th class="table_row">No.</th>
            <th class="table_row">Item</th>
            <th class="table_row">Qty</th>
            <th class="table_row">Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td class="table_row" >{{product.id}}</td>
            <td class="table_row">{{product.Name}}</td>
            <td class="table_row">{{product.Qty}}</td>
            <td class="table_row">{{product.Amount}}</td>
          </tr>
        </ng-template>        
      </p-table>

     

      <ng-template pTemplate="content">
        <div class="row">
          <p-divider class="divider"></p-divider>
          <div class="col-sm-12 col-md-12 d-flex justify-content-end">
           <p style="padding-right: .6rem;" class="total_amount">Total Amount : 289.00</p>
          </div>
          <p-divider class="divider"></p-divider>
        </div>
      </ng-template>
      
      <ng-template pTemplate="footer">
        <div class="row">
          <div class="col-sm-6 col-md-6 d-flex justify-content-start">
            <p-button label="Accept" class="confrom_btn" ></p-button>
          </div>
          <div class="col-sm-6 col-md-6 d-flex justify-content-end">
            <p-button label="Reject" class="cancel_btn" severity="danger"></p-button>
          </div>
        </div>
      </ng-template>
     
      
    </p-card>
  </div>
 </div>
<!-- </p-panel> -->
  </div>
</div>
