<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6 cols-6">
      <div class="d-flex justify-content-start">
        <p-calendar class="inputCalender" [readonlyInput]="true" [maxDate]="minDate" selectionMode="range" (onSelect)="getVendorOrderStatistics($event)"  [(ngModel)]="dateRange"  [placeholder]="'Search by Date...'" />
      </div>
    </div>
  </div>
</div>

<div class="small_card">
      <div class="item">
        <div class="min_card">
            <p-card class="item">
              <p class="state_titel">Orders:</p>
              <p class="state_counter">{{state_Orders}}</p>
            </p-card>
            <p-card class="item">
              <p class="state_titel">Ongoing:</p>
              <p class="state_counter">{{state_Ongoing}}</p>
            </p-card>
            <p-card class="item">
              <p class="state_titel">Revenue:</p>
              <p class="state_counter">{{state_Revenue |number:'1.2-2'}}</p>
            </p-card>
    
        </div>
      </div>
      <div class="small_card">
          <p-card class="popular_item">
        <p-chart type="doughnut" [data]="data" ></p-chart>
          </p-card>
  
      </div>

      <apx-chart 
  [series]="chartOptions.series" 
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [title]="chartOptions.title">
</apx-chart>

</div>
 -->

<div class="main-container"> 
  <div class="header-group-btn">
    <button class="header-group-item-btn" (click)="last7Days()">Last7Days</button>
    <button class="header-group-item-btn" (click)="last90days()">Last90Days</button>
    <button class="header-group-item-btn" (click)="last30Days()">Last30Days</button>
    <button class="header-group-item-btn" (click)="yearly()">Yearly</button>
    <button class="header-group-item-btn">Today</button>
    <button class="header-group-item-btn">Hourly</button>

  </div> 
  <div class="card-group-1">
    <div class="items">
      <app-area-plot *ngIf="dataForArea" [data]="this.dataForArea"></app-area-plot>
    </div>
    <div class="items">
      <app-donut-chart *ngIf="dataForArea" ></app-donut-chart>
    </div>
    <div class="items">
      <app-barchart *ngIf="this.barChartData" [data]="this.barChartData"></app-barchart>
    </div>
    <div class="items">
      <div class="avg-order">
        <div class="avg-order-items" >
          <p class="avg-heading" *ngIf="!orderStates.totalAmount">-</p>
          <p class="avg-heading" *ngIf="orderStates.totalAmount > 0">₹{{orderStates.totalAmount | number:'2.0-0' }}</p>
          <p class="avg-content">Avg. Order(₹)</p>
          <p class="avg-content" style="border-bottom: 2px solid rgb(51, 50, 50); margin-left: 40%; margin-right: 40%; margin-top: 1%;"></p>


        </div>
        <div class="avg-order-items">
          <p class="avg-heading">{{orderStates.totalOrders-orderStates.ongoingOrders}}</p>
          <p class="avg-content">Total Orders</p>
          <p class="avg-content" style="border-bottom: 2px solid rgb(51, 50, 50); margin-left: 40%; margin-right: 40%; margin-top: 1%;"></p>
          

        </div>
        <div class="avg-order-items">
          <p class="avg-heading">{{orderStates.ongoingOrders}}</p>
          <p class="avg-content">Active Orders</p>
          <p class="avg-content" style="border-bottom: 2px solid rgb(51, 50, 50); margin-left: 40%; margin-right: 40%; margin-top: 1%; opacity: 0.8;"></p>

        </div>

      </div>
      <!-- <app-barchart *ngIf="this.barChartData" [data]="this.barChartData"></app-barchart> -->
    </div>
  </div>

  <div class="card-group-1">
  
    <div class="items">
      <app-bar-groupchart *ngIf="this.revenueByFoodCetegoryFiter" [data] = "this.revenueByFoodCetegoryFiter"></app-bar-groupchart>
      <!-- <app-barchart *ngIf="this.barChartData" [data]="this.barChartData"></app-barchart> -->
    </div>

    <div class="items">
      <app-bar-groupchart *ngIf="TopSellingItems" [Topselling]="this.TopSellingItems" ></app-bar-groupchart>
      
      <!-- <app-barchart *ngIf="this.barChartData" [data]="this.barChartData"></app-barchart> -->
    </div>
    
    <div class="items">
      <!-- <app-bar-groupchart></app-bar-groupchart> -->
      <p style="padding: 1rem;">Get ready! ✨ Coming soon!</p>
      <!-- <app-barchart *ngIf="this.barChartData" [data]="this.barChartData"></app-barchart> -->
    </div>


  </div>
</div>
