<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6 cols-6">
      <div class="d-flex justify-content-start">
        <p-calendar class="inputCalender" [readonlyInput]="true" [maxDate]="minDate" selectionMode="range" (onSelect)="getVendorOrderStatistics($event)"  [(ngModel)]="dateRange"  [placeholder]="'Search by Date...'" />
      </div>
    </div>
  </div>
</div>

<div class="small_card">
      <div class="item">
        <div class="min_card">
            <p-card class="item">
              <p class="state_titel">Orders:</p>
              <p class="state_counter">{{state_Orders}}</p>
            </p-card>
            <p-card class="item">
              <p class="state_titel">Ongoing:</p>
              <p class="state_counter">{{state_Ongoing}}</p>
            </p-card>
            <p-card class="item">
              <p class="state_titel">Revenue:</p>
              <p class="state_counter">{{state_Revenue |number:'1.2-2'}}</p>
            </p-card>
    
        </div>
      </div>
      <div class="small_card">
          <p-card class="popular_item">
        <p-chart type="doughnut" [data]="data" ></p-chart>
          </p-card>
  
      </div>

      <apx-chart 
  [series]="chartOptions.series" 
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [title]="chartOptions.title">
</apx-chart>

</div>

