<p-toast position="top-center" key="tc"></p-toast>

<p-dialog id="my-dialog" header="Add Table" [modal]="true" [(visible)]="addTableDialogFlag" [style]="{ width: '30%','height':'45vh',' border-radius':'5px' }">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form_grid">
      <div class="form_item_titel">
        <p class="form_label">Table Name:</p>
      </div>
      <div class="form_item_content">
        <input type="text" class="inputbox" pInputText placeholder="Enter Table name..." formControlName="tableName" />
        <div *ngIf="formGroup.controls['tableName'].invalid && formGroup.controls['tableName'].touched" class="error-message">
          <span *ngIf="formGroup.controls['tableName'].errors?.['required']" style="color: brown;">Note:Table name is required.</span>
          <span *ngIf="formGroup.controls['tableName'].errors?.['pattern']" style="color: brown;">Note:Please enter a positive integer.</span>
        </div>
      </div>
    </div>
    <div class="form_grid">
      <div class="form_item_titel">
        <p class="form_label">TableType:</p>
      </div>
      <div class="form_item_content">
        <p-dropdown appendTo="body" class="inputbox" formControlName="type" [options]="tableTypes" optionLabel="name" styleClass="inputbox" placeholder="Select a TableType.." />
        <div *ngIf="formGroup.controls['type'].invalid && formGroup.controls['type'].touched" class="error-message">
          <span *ngIf="formGroup.controls['type'].errors?.['required']" style="color: brown;">Note:Type is required.</span>
        </div>
      </div>
    </div>
    <div class="form_grid">
      <button type="submit" class="btn"><i class="bi bi-plus-circle"></i></button>
    </div>
  </form>
</p-dialog>


<div class="header">
  <input id="searchInput" placeholder="Search..." class="header-items" type="text" />
  <button *ngIf="tmpTables" class="table-view"><i class="bi bi-justify" (click)="uiView()"></i></button>
  <button class="header-items header-btn" (click)="showDialog()"><i class="bi bi-plus-circle"></i></button>
</div>

<div *ngIf="!tmpTables">
  <app-notfound></app-notfound>
</div>

<div  *ngIf="tmpTables">
  <div class="order-container">
    <div class="order-table" *ngFor="let item of tmpTables">
      <div class="table-card" (click)="getTableOrdes(item)">
        <div *ngIf="item.tableStatus === 'BOOKED' " style="color: green; font-weight: 600;">{{item.tableName}}</div>
        <div *ngIf="item.tableStatus !== 'BOOKED' ">{{item.tableName}}</div>

        <div *ngIf="item.tableStatus === 'BOOKED' " style="color: green; font-weight: 600;">{{item.tableStatus}}</div>
        <div *ngIf="item.tableStatus !== 'BOOKED' ">{{item.tableStatus}}</div>
      </div>
    </div>
  </div>
</div>

<p-dialog id="my-dialog" [header]=" 'Table: '+Order?.tableOrder?.tableName" [modal]="true" [(visible)]="viewOrder">
  <p-card>
    <div class="titel"><p class="card_titel">{{ Order?.token_no}}</p></div>
    <div class="order_detail">
      <p class="card_bill_detail">OrderID: {{ Order?.orderId| slice:0:7}}</p>
      <p class="card_bill_detail">Status: {{ Order?.orderStatus}}</p>
    </div>
    <div class="order_detail">
      <p class="card_bill_detail" *ngIf=" this.Order?.payment_mode !== 'CASH'">Txn ID: {{ this.Order?.txid}}</p>
    </div>
    <div class="order_detail">
      <p class="card_bill_detail">Date: {{ this.Order?.orderAt | date:'dd-MMM-yyyy' }}</p>
      <p class="card_bill_detail">Mobile: {{ this.Order?.customerMobileNo}}</p>
    </div>
    <div class="order_detail">
      <!-- <p class="card_bill_detail">Payment Mode: {{ this.Order?.payment_mode}}</p> -->
      <p class="card_bill_detail">Time: {{ this.Order?.orderAt | date:'hh:mm:a' }}</p>
    </div>
    <p-table [value]=" this.Order?.orderDetails" [scrollable]="true" scrollHeight="6rem" [style]="{ 'min-height': '5rem', 'max-height': '5rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" class="table_heading">Sr No.</th>
          <th scope="col" class="table_heading">Item</th>
          <th scope="col" class="table_heading">Qty</th>
          <th scope="col" class="table_heading">Amount</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-index="rowIndex">
        <tr>
          <td class="table_content">{{index+1}}</td>
          <td class="table_content">{{product?.itemName}}</td>
          <td class="table_content">{{product?.quntity}}</td>
          <td class="table_content tAmountitem1">{{product?.amount}}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="content">
      <div class="row">
        <p-divider class="divider"></p-divider>
        <div class="order_detail">
          <p class="tAmountitem2 card_titel" style="margin: 0.1rem;">Total Amount:</p>
          <p class="tAmountitem2 tAmountitem1" style="margin: 0.1rem;">{{ this.Order?.totelAmount |number:'1.2-2'}}</p>
        </div>
        <p-divider class="divider"></p-divider>
        <div class="order_detail">
          <p class="card_bill_detail"><button (click)="MarkAsCompleted( this.Order)" class="acept_btn">Mark As Completed</button></p>
          <!-- <p class="card_bill_detail "><button (click)="generateInvoice( this.Order)" class="cancel_btn">Invoice</button></p> -->
        </div>
      </div>
    </ng-template>
  </p-card>
</p-dialog>

<p-dialog header="Table View" id="my-dialog" [modal]="true" [(visible)]="viewTableType" [style]="{'width':'60%'}">
  <p-table [value]="tables">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Sr.</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Update</th>
        <!-- <th scope="col">Delete</th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-i="rowIndex">
      <tr>
        <td>{{i+1}}</td>
        <td>{{ product.tableName }}</td>
        <td>{{ product.tableStatus }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="updateModel(product)"><i class="bi bi-pencil-square"></i></button>
        </td>
        <!-- <td>
          <button type="button" class="btn btn-danger" (click)="deleteTable(product)"><i class="bi bi-trash"></i></button>
        </td> -->
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog id="my-dialog" [modal]="true" [(visible)]="updateDilog" [style]="{'width':'30%'}">
  <form [formGroup]="formGroup_update" (ngSubmit)="onSubmit_update()">

    <div class="update-form">
      <div class="update-form-element">
        <!-- <label for="dropdown" style="margin-bottom: 3px;">Select Table Status:</label> -->
        <p-dropdown id="dropdown" appendTo="body" class="inputbox" formControlName="type" [options]="tableStatuses" optionLabel="value" styleClass="inputbox" placeholder="Select table status.." />
        <div *ngIf="formGroup.controls['type'].invalid && formGroup.controls['type'].touched" class="error-message">
          <span *ngIf="formGroup.controls['type'].errors?.['required']" style="color: brown;">Note:Type is required.</span>
        </div>
      </div>
        <div class="update-form-element">
      <button type="submit" class="btn" [disabled]="!formGroup_update.valid" ><i class="bi bi-plus-circle"></i></button>
    </div> 
    </div>
  </form>
</p-dialog>
