<!-- 
<div class="layout-container">
  <div class="sidebar">
    <h6 class="h6-titel"> <img src="../../../assets/logo-social.png" alt="" class="icon_logo">  Dashboard</h6>
    <ul>
      <li>
        <button class="btn btn-light p-btn"  routerLink="menu/order" routerLinkActive="true" >QR Order</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="menu/ongoing" routerLinkActive="true">Ongoing Order</button>
      </li>
      <li>
        <button class="btn btn-light p-btn"  routerLink="menu/product" routerLinkActive="true">Product</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="test" routerLinkActive="true">Create User</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="menu/tableOrder" routerLinkActive="true" >TableOrder</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="menu/OrderHistory"  routerLinkActive="true" >OrderHistory</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" >Waste</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" >Setting</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" >Permission</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="menu/productAnalytics" routerLinkActive="true" > Analytics</button>
      </li>
     
    </ul>
  </div>
  <div class="main-content"  >
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
</div> -->


<div class="layout-container">
  <div class="sidebar">
      <h5 class="titel" style="color: 	#940000;">Dashboard</h5>
       <!-- <img src="./../../../assets/logo.png" class="logo"> -->
      <button class="sidebar-btn"  routerLink="menu/order" routerLinkActive="true" >QR Order </button>
      <button class="sidebar-btn"  routerLink="menu/ongoing" routerLinkActive="true">Ongoing Order</button>
      <button class="sidebar-btn"  routerLink="menu/product" routerLinkActive="true">Product</button>
      <button class="sidebar-btn"  routerLink="test" routerLinkActive="true">Create User</button>
      <button class="sidebar-btn"  routerLink="menu/tableOrder" routerLinkActive="true" >TableOrder</button>
      <button class="sidebar-btn"  routerLink="menu/offer" routerLinkActive="true" >Create Offer</button>
      <button class="sidebar-btn"  routerLink="menu/OrderHistory"  routerLinkActive="true" >OrderHistory</button>
      <button class="sidebar-btn"  routerLink="menu/productAnalytics" routerLinkActive="true" > Analytics</button>
      <button class="sidebar-btn"  routerLink="menu/Feedback" routerLinkActive="true" >Feedback</button>


  </div>
  <div class="main-content">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
</div>
</div>
