<!-- 
<div class="layout-container">
  <div class="sidebar">
    <h6 class="h6-titel"> <img src="../../../assets/logo-social.png" alt="" class="icon_logo">  Dashboard</h6>
    <ul>
      <li>
        <button class="btn btn-light p-btn"  routerLink="menu/order" routerLinkActive="true" >QR Order</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="menu/ongoing" routerLinkActive="true">Ongoing Order</button>
      </li>
      <li>
        <button class="btn btn-light p-btn"  routerLink="menu/product" routerLinkActive="true">Product</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="test" routerLinkActive="true">Create User</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="menu/tableOrder" routerLinkActive="true" >TableOrder</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="menu/OrderHistory"  routerLinkActive="true" >OrderHistory</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" >Waste</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" >Setting</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" >Permission</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="menu/productAnalytics" routerLinkActive="true" > Analytics</button>
      </li>
     
    </ul>
  </div>
  <div class="main-content"  >
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
</div> -->


<div class="layout-container">
  
  <div class="sidebar" *ngIf="!this.roleSet.has('COOK')">
      <h5 class="titel" style="color: 	#940000;">Dashboard</h5>
       <!-- <img src="./../../../assets/logo.png" class="logo"> -->
      <button [ngClass]="{ 'selected': selectedItem === 'Create Vendor' }"
              (click)="selectedItem = 'Create Vendor'" class="sidebar-btn" *ngIf="roleSet.has('ADMIN')"  routerLink="admin/createVendor" routerLinkActive="true">Create Vendor</button>

      <button [ngClass]="{ 'selected': selectedItem === 'vendors' }"
              (click)="selectedItem = 'vendors'" class="sidebar-btn" *ngIf="roleSet.has('ADMIN')" routerLink="admin/vendors" routerLinkActive="true" >Vendors</button>

      <button [ngClass]="{ 'selected': selectedItem === 'employee' }"
              (click)="selectedItem = 'employee'" class="sidebar-btn" *ngIf="roleSet.has('VENDER')" routerLink="vendor/employee" routerLinkActive="true" > <i class="bi bi-people"></i> Employee</button>

      <button [ngClass]="{ 'selected': selectedItem === 'QR Order' }"
              (click)="selectedItem = 'QR Order'"class="sidebar-btn" *ngIf="roleSet.has('VENDER') || roleSet.has('MANAGER')"  routerLink="menu/order" routerLinkActive="true" > <i class="bi bi-qr-code-scan"></i> QR Order </button>

      <button [ngClass]="{ 'selected': selectedItem === 'Ongoing Order' }"
              (click)="selectedItem = 'Ongoing Order'" class="sidebar-btn" *ngIf="roleSet.has('VENDER') || roleSet.has('MANAGER') "routerLink="menu/ongoing" routerLinkActive="true"><i class="bi bi-activity"></i> Active Orders</button>

      <button [ngClass]="{ 'selected': selectedItem === 'Product' }"
              (click)="selectedItem = 'Product'" class="sidebar-btn" *ngIf="roleSet.has('VENDER') || roleSet.has('MANAGER') "routerLink="menu/product" routerLinkActive="true"><i class="bi bi-box"></i> Product</button>

      <button [ngClass]="{ 'selected': selectedItem === 'TableOrder' }"
              (click)="selectedItem = 'TableOrder'" class="sidebar-btn" *ngIf="roleSet.has('VENDER') || roleSet.has('MANAGER') "routerLink="menu/tableOrder" routerLinkActive="true" ><i class="bi bi-cart-check"></i> TableOrder</button>

      <button [ngClass]="{ 'selected': selectedItem === 'Create Offer' }"
              (click)="selectedItem = 'Create Offer'" class="sidebar-btn" *ngIf="roleSet.has('VENDER') || roleSet.has('MANAGER') "routerLink="menu/offer" routerLinkActive="true" ><i class="bi bi-tag"></i> Create Offer</button>

      <button [ngClass]="{ 'selected': selectedItem === 'OrderHistory' }"
              (click)="selectedItem = 'OrderHistory'" class="sidebar-btn" *ngIf="roleSet.has('VENDER') || roleSet.has('MANAGER') "routerLink="menu/OrderHistory"  routerLinkActive="true" ><i class="bi bi-database"></i> Order History</button>

      <button [ngClass]="{ 'selected': selectedItem === 'Analytics' }"
              (click)="selectedItem = 'Analytics'" class="sidebar-btn" *ngIf="roleSet.has('VENDER') "routerLink="menu/productAnalytics" routerLinkActive="true" > <i class="bi bi-graph-up-arrow"></i> Analytics</button>

      <button [ngClass]="{ 'selected': selectedItem === 'Feedback' }"
              (click)="selectedItem = 'Feedback'" class="sidebar-btn" *ngIf="roleSet.has('VENDER') || roleSet.has('MANAGER') "routerLink="menu/Feedback" routerLinkActive="true" ><i class="bi bi-hand-thumbs-up"></i> Feedback</button>

      <button [ngClass]="{ 'selected': selectedItem === 'Kitchen' }"
              (click)="selectedItem = 'Kitchen'" class="sidebar-btn" *ngIf="roleSet.has('VENDER') || roleSet.has('COOK')" routerLink="cook/kitchen" routerLinkActive="true"> <i class="bi bi-egg-fried"></i> Kitchen</button>

       <button [ngClass]="{ 'selected': selectedItem === 'inventory' }"
              (click)="selectedItem = 'inventory'" class="sidebar-btn" *ngIf="roleSet.has('VENDER')" routerLink="inventory/view" routerLinkActive="true"><i class="bi bi-cart4"></i>Inventory</button>
  </div>
  <div class="main-content">
    <app-navbar></app-navbar>
    <app-loader [isLoading]="(isLoading | async) ?? false"></app-loader>
    <router-outlet></router-outlet>
</div>
</div>
