<!-- <div style="display: flex;" >
  <p-sidebar [showCloseIcon]="false" [modal]="false" [visible]="true">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2" style="place-self: center;">
        <h6>Legion</h6>
      </div>
    </ng-template>
    <ng-template pTemplate="headless">
      <ul>
        <li>
          <p-button label="Secondary" routerLink="test" routerLinkActive="true" class="" severity="secondary" />
        </li>
        <li>
          <p-button label="Secondary" severity="secondary" />
        </li>
        <li>
          <p-button label="Secondary" severity="secondary" />
        </li>
        <li>
          <p-button label="Secondary" severity="secondary" />
        </li>
        <li>
          <p-button label="Secondary" severity="secondary" />
        </li>
        <li>
          <p-button label="Secondary" severity="secondary" />
        </li>
        <li>
          <p-button label="Secondary" class="btnSize" severity="secondary" />
        </li>
        <li>
          <p-button label="Secondary" class="btnSize" severity="secondary" />
        </li>
        <li>
          <p-button label="Secondary" class="btnSize" severity="secondary" />
        </li>
      </ul>
    </ng-template>
  </p-sidebar>
</div> -->

<div class="layout-container">
  <div class="sidebar">
    <h6 class="h6-titel">Dashboard</h6>
    <ul>
      <li>
        <button class="btn btn-light p-btn" routerLink="menu/order" routerLinkActive="true" >Cash Order</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="menu/ongoing" routerLinkActive="true">Ongoing Order</button>
      </li>
      <li>
        <button class="btn btn-light p-btn"  routerLink="menu/product" routerLinkActive="true">Product</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="test" routerLinkActive="true">Create User</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" >Waste</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" >Setting</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" >Permission</button>
      </li>
      <li>
        <button class="btn btn-light p-btn" routerLink="menu/productAnalytics" routerLinkActive="true" > Analytics</button>
      </li>
    </ul>
  </div>
  <div class="main-content"  >
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
</div>


