.header {
    display: flex;
    margin: 1rem 1rem 1rem 1rem;
}


th{
    padding: 5px;
    text-align: center;
    align-content: center;
    font-size: medium;
    font-weight: 500;
    color: black;
    opacity: 0.8;
}
td{
    /* padding: .8rem; */
    padding: 5px;
    text-align: center;
    align-content: center;
    font-size: medium;
    font-weight: 400;
    color: black;
    border-bottom: 1px solid;
    border-style: ridge;
}

.item_A {
    flex: 1;
    text-align: start;
    padding: .1rem;
}

.item_B {
    flex: 1;
    padding: .1rem;
    text-align: end;
}


#searchInput {

    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    /* background-image: url(../../../assets/search.svg); */
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: medium;
}

.sticky-table .p-datatable-thead > tr > th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.order-detils-btn{
    background: black;
    color: white;
    /* border: none; */
    border-radius: 8px;
    border: 2px solid black;

}

.order-detils-btn:hover{
    background: white;
    color: black;
    /* border: 2px solid black; */
    margin: 0;
}

#history-head th{
    background: none;
    border: none;
}



 .table_heading {
     padding: .1rem;
     font-weight: 500;
     font-size: medium;
     text-align: center;
 }

 .table_content {
     padding: 0;
     font-weight: 400;
     font-size: medium;
     padding: .1rem;
     text-align: center;
 }

 .card_bill_detail {

     padding: .2rem;
     font-size: small;
     font-weight: 500;
     margin: 0;

 }


 .total_amount {
     display: flex;
     justify-content: flex-end;
     font-size: medium;
     font-weight: 500;
     margin: .2rem;
 }

 .order_detail {
     display: flex;
     justify-content: space-between;
 }


 .titel {
     display: flex;
     justify-content: center;
 }

 .card_titel {
     font-size: medium;
     font-weight: 500;
 }
 .header {
     display: flex;
     justify-content: space-between;
     margin: 1rem;
 }


.tAmountitem1::after {
    content: " ₹";
}
.tAmountitem2 {
    place-self: center;
    font-weight: 600;
    font-size: medium;
}

.invoicBtn{
    border: none;
    padding: .5rem;
    border-radius: 8px;
    background: black;
    color: white;
}

.invoicBtn:hover{
    background:white;
    color: black;
    border: 1px solid black;
}