.header {
    display: flex;
    margin: 1rem 1rem 1rem 1rem;
}


th{
    padding: 5px;
    text-align: center;
    align-content: center;
    font-size: medium;
    font-weight: 500;
}
td{
    /* padding: .8rem; */
    padding: 5px;

    text-align: center;
    align-content: center;
    font-size: medium;
    font-weight: 400;

}

.item_A {
    flex: 1;
    text-align: start;
    padding: .1rem;
}

.item_B {
    flex: 1;
    padding: .1rem;
    text-align: end;
}


#searchInput {

    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    /* background-image: url(../../../assets/search.svg); */
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: medium;
}

/* #searchInput {

    width: 150%;
    border: 0;
    border-radius: 20px;
    background-image: url(../../../assets/search.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: medium;
} */

.sticky-table .p-datatable-thead > tr > th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.order-detils-btn{
    background: black;
    color: white;
    /* border: none; */
    border-radius: 8px;
    border: 2px solid black;

}

.order-detils-btn:hover{
    background: white;
    color: black;
    /* border: 2px solid black; */
    margin: 0;
}