/* You can add global styles to this file, and also import other style files */
/* @import "primeng/resources/themes/lara-light-blue/theme.css"; */
/* @import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css"; */

@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
    scrollbar-width: none; /* Options: auto, thin, none */
    scrollbar-color: #888 #f1f1f1; /* thumb color track color */ 
}

html, body {
    height: 100%;
    background-color: #f4f4f4;
    /* background-color:#0b91a6; */
    /* background: linear-gradient(109.6deg, rgb(223, 234, 247) 11.2%, rgb(244, 248, 252) 91.1%); */
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% ); */
}

.custom-switch.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: black !important;
}


.isJain .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: black !important;
}

.isVegNoVeg .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: black !important;
}

#offer-switch .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: black !important;
}

#createCredentials.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: black !important;
}

#editVendor .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: black !important;
}


/* Custom scrollbar styles for WebKit browsers (Chrome, Safari) */
/* ::-webkit-scrollbar {
    width: 12px; 
    height: 12px;
} */

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb when hovered */
}


.icon {
    width: 24px;       /* Set the icon width */
    height: 24px;      /* Set the icon height */
}

.icon_logo {
    width: 15%;       /* Set the icon width */
    height: 24px; 
    margin: 0;
    padding: 0;
        /* Set the icon height */
}

