.header {
    display: flex;
    margin: 1rem 1rem 1rem 1rem;
}


.item_A {
    flex: 1;
    text-align: start;
    padding: .1rem;
}

.item_B {
    flex: 1;
    padding: .1rem;
    text-align: end;
}


#searchInput {

    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    background-image: url(../../../assets/search.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    padding-left: 1.5rem;
    font-weight: 500;
    font-size: medium;
}

.add-q-btn{
    padding: .5rem;
    border: none;
    color: white;
    background: black;
    border-radius: 15px;
    width: 20%;
}

.add-q-btn:hover{
    color: black;
    background: white;
    border: 2px solid black;
}
.feedback-from{
    display: flex;
    flex-direction: column; 
}

#question{
    width: 50%;
}

.from-label{
    font-size: small;
    font-weight: 500;
    padding: .1rem;
}

.feedback-submit-btn{
    width: 20%;
    padding: .5rem;
    background: black;
    color: white;;
    border: none;
    border-radius: 8px;
    margin-top: .5rem;
}

.feedback-submit-btn:hover{
    background: white;
    color: black;;
    border: 2px solid black;
}
th {
    padding: 5px;
    text-align: center;
    align-content: center;
    font-size: medium;
    font-weight: 500;
    opacity: 0.8;
    color: black;
}

td {
    padding: 5px;
    text-align: center;
    align-content: center;
    font-size: medium;
    font-weight: 400;
    color: black;
    border-bottom: 1px solid;
    border-style: ridge;
}